@import "../../resources/sass/variables";

.header {
    img {
        max-width: 400px;
        margin: auto;
    }

    .cart{
        a {
            color: nth($secondary-colors, 4);
            text-decoration: none;
        }
        .badge {
            background-color: ();
        }
        .cart-product-count{
            margin-right: 10px;
        }
        .cart-sum{
            font-size: 1.2em;
            font-weight: bold;
        }
        .fa-shopping-cart {
            margin: auto;
        }
        margin: auto;
    } 

    .check-out{
        margin: auto;
    }

    .search-form{
        margin: auto;
    }

    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 130px;
    padding: 20px 0;
    vertical-align: middle;
}