@import "variables";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: nth($primary_colors, 4);
}

a:hover {
    color: nth($primary_colors, 1) !important;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}


