@import "../../resources/sass/variables";

.product-wrapper {
    .featured-image{
        max-width: 300px;
        margin: auto;
    } 

    .product-image-wrapper {
        .product-thumbnails {
            .thumbnail {
                max-width: 80px !important;
                float: left !important;
            }
            cursor: pointer;
        }

        max-width: 300px;
        margin-right: 20px;
    }

    .product-information-wrapper {
        h2 {
            text-align: left;
        }

        .product-details {

            .current-price {
                font-size: 2em;
                font-weight: bold;
            }

            .old-price {
                font-style: italic;
            }

            .product-colors {
                margin: auto;
                width: 30%;
            }

            .product-prices {
                margin: auto 0;
            }

            .buy-btn {
                align-self: center;
                min-width: 100px;
            }

            align-content: center;
            display: flex;
            vertical-align: middle;
            padding: 10px;
            width: 100%;
            border: 1px solid nth($secondary-colors, 1);
            border-radius: 4px;
        }

        .product-text {
            max-height: 215px;
            overflow: hidden;
            padding: 5px;
        }

        .read-more-btn {
            margin: 10px auto;
        }

        text-align: center;
        width: 100%;
    }

    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    vertical-align: middle;
}

.inspiration-boxes-wrapper {

    .inspiration-box {
        background-image: url('/assets/img/paper1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid nth($secondary-colors, 1);
        height: 280px;
        margin: auto 10px auto;
        padding: 0px 10px;
    }

    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}