<div class="h-product product-wrapper">
    <div class="product-image-wrapper">
        <img class="u-photo featured-image" src="/assets/img/paper1.jpg" alt="featured product image" />
        <div class="product-thumbnails">
            <img src="/assets/img/paper1.jpg" class="thumbnail col-md-4 active" alt="thumbnail 1" />
            <img src="/assets/img/paper2.jpg" class="thumbnail col-md-4" alt="thumbnail 2" />
            <img src="/assets/img/paper3.jpg" class="thumbnail col-md-4" alt="thumbnail 3" />
        </div>
    </div>
    <div class="product-information-wrapper">
        <h2 class="p-name">Paper</h2>
        <div class="product-details">
            <div class="product-prices">
                <span class="p-price current-price" value="666.00">666.00 kr</span><br />
                <span class="old-price" value="999.00">999.00 kr</span>
            </div>
            <select class="product-colors form-control">
                <option ng-repeat="productColors in $ctrl.productColors" value="{{productColors}}">{{productColors}}</option>
            </select>
            <button type="button" class="buy-btn btn btn-default ">Buy</button>
        </div>
        <div class="e-description product-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. 
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. 
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. 
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
            </p>
        </div>
        <button type="button" class="read-more-btn btn btn-default">Read more</button>
    </div>

</div>
<div class="inspiration-boxes-wrapper">
    <div class="inspiration-box col-md-4">
        <h3>Paper is awesome!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
            Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
        </p>
    </div>
    <div class="inspiration-box col-md-4">
        <h3>Paper is awesome!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
            Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
        </p>
    </div>
    <div class="inspiration-box col-md-4">
        <h3>Paper is awesome!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
            Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
        </p>
    </div>
</div>